body {
    font-size: 2em;
    margin: 0;
    padding: 45px 0 0 0;
}
#hero-img {
    background-image: url("../img/church_1.jpg");
    background-size: cover;
    height: 60em;
}

#hero-text {
    font-size: 4em;
    color: white;
}
#map {
    height: 300px;
    width: 600px;
}

.navbar {
    margin-bottom: 0 !important;
    background-color: lightgray;
}

#location_address {
    padding-top: 5em;
    padding-bottom: 5em;
}
#hours {
    padding-top: 5em;
    padding-bottom: 5em;
}