body {
    font-size: 2em;
    margin: 0;
    padding: 45px 0 0 0;
}
#hero-img {
    background-image: url("../img/church_1.jpg");
    background-size: cover;
    width: 100%;
    height: 60em;
}

#hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1em;
    margin-left: -1em;
    font-size: 4em;
    color: white;
    vertical-align: middle;
}

#location-title {
    padding-top: 1em;
}

#location-content {
    padding-top: 100px;
}

#map {
    height: 300px;
    width: 600px;
}

.navbar {
    margin-bottom: 0 !important;
    background-color: lightgray;
}

#location_address {
    padding-top: 5em;
    padding-bottom: 5em;
}
#hours {
    padding-top: 5em;
    padding-bottom: 5em;
}